body{
    background-image: url("./img/bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#gamearea{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -250px;
    width: 500px;
    height: 500px;
    border: solid purple 2px;
}
.block{
    background-color: rgba(83, 158, 243, 0.74);
    position: absolute;
    border: solid rgb(0, 119, 255) 1px;
    border-radius: 8px 8px 8px 8px;
}
.block:hover{
    background-color: rgb(55, 138, 233);
    box-shadow: -2px -2px -2px white;
}
.candy{
    width: 100px;
}