body{
    background-image: url("./img/bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.gamearea{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -250px;
    width: 500px;
    height: 500px;
}
.counter, .score, .level{
    color: white;
    font-family: cursive;
    text-shadow: 2px 2px 2px purple;
    text-align: center;
}
.points{
    color: gold;
    font-family: cursive;
    text-shadow: 2px 2px 2px purple;
    text-align: center;
}
.gamearea img{
    background-color: rgba(83, 158, 243, 0.9);
    position: absolute;
    border: solid rgb(0, 119, 255) 1px;
    border-radius: 8px 8px 8px 8px;
}
.message{
    margin: auto;
    text-align: center;
    width: 50%;
    position: relative;
    z-index: 11;
}
.ok, .level{
    background-color: purple;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 15px 15px 15px 15px;
}